<blockquote>
  <p>ROSHAN.IO - Alternative Project Management</p>
  <p>A symbiotic organization based out of Seoul, Korea that fosters decentralized applications. By reengineering DApps to work with a second set of smart contracts, ROSHAN.IO's forks explore new designs, functions, and tokenomics for existing projects. </p>
  <p>The RSIO token serves as a replacement for the native token that is used in the original projects and will also be the basis of participation in the DAO that selects candidates for future ROSHAN.IO forks. With each application forked, RSIO is bolstered with additional features and use cases. </p>
  <p> Founded by Andrew Kwon, a software developer and investor who used his cryptocurrency fortune to fund numerous NGOs and public schools through his philanthropic arm known as <a href="https://blockoperator" target="_blank">Block Operator</a>, established and endowed in 2013.</p>
  <p>ROSHAN.IO is determined to clean up an industry that's been bogged down and hampered by greed and centralization.
  <footer><a href="https://roshan.io/" target="_blank">https://roshan.io/</a></footer>
</blockquote>
